.container {
  /* background: url(/src/Assets/lambert-yuri-SroWCN6o-Lk-unsplash.jpg); */
  display: grid;
  grid-template-columns: 50% 50%;
  background: #ebf3e7;
  width: 100vw;
}

.imgFloresta {
  background: url(/src/Assets//floresta.jpg);
  width: 100%;
  background-size: cover;
}

.formNome {
  display: block;
  color: rgb(0, 74, 21);
  font-weight: bold;
  max-width: 500px;
  margin: 20% auto;
  height: 80vh;
}

input {
  border: 1px solid #eee;
  display: block;
  width: 100%;
  font-size: 1rem;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
  background: #fff;
  padding-left: 10px;
  text-align: center;
}

.buttonLogin {
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 20px;
  background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 34%, rgba(22,75,0,1) 68%);
  color: #ffffff;
  width: 103%;
  padding: 0.8rem;
  margin-top: 10px;
}

button:hover {
  background: rgb(0, 0, 1);
}

h1 {
  text-align: center;
  font-size: 32px;
  margin-bottom: 10px;
  font-family: Verdana;
}

p{
  text-align: center;
  margin-bottom: 30px;
}

.fotoLogo{
  display: block;
  margin: 0 auto;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft 0.3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: initial;
    transform: initial;
  }
}


@media (max-width: 768px){
  .container{
    display: block;
  }

  .imgFloresta{
    display: none;
  }

  input{
    width: 80%;
    margin: 0 auto
  }

  .buttonLogin{
    display: block;
    width: 83%;
    margin: 10px auto;
  }
}